@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');
*{
   font-style: normal;

   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root{
    --primary : #536942;
    --secondary : #FFD936;
    --white : #efefef;
}

body{
    background: url(https://4kwallpapers.com/images/wallpapers/macos-monterey-stock-black-dark-mode-layers-5k-3840x2160-5889.jpg);
    background-size: cover;
    font-family: "Itim", sans-serif;
    color: #536942
    
}
#main{
    background-image: url(https://i.pinimg.com/originals/87/b3/74/87b374a764bfa8f4ad403569455a9554.gif);
    min-height: 65vh;
    background-position: bottom center;
    background-size: cover;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1200px;
    padding: 16px;
    margin: auto;
}
section{
    margin: 80px auto;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-list{
    display: flex;
    list-style: none;
    gap: 28px;
}
.nav-list a {
    color: #ffffff;
}
.btn{
    padding: 12px 20px;
    background: transparent;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
}
.btn-secondary{
    border: 1px solid white;
    color: #efefef;
    font-weight: bold;
}
.btn-primary{
    border: none;
    background: #FFD936;
    color: #536942;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    color: #ffffff;
}
.main-content .intro-heading{
    font-size: 50px;
}
.main-content .main-heading{
    font-size: 110px;
    margin-top: -20px;
}
.main-content h2{
    max-width: 245px;
    margin-bottom: 10px
}
.menu-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    display: none;
}
.section-title h1{
    font-size: 50px;
    text-align: center;
    color: #efefef;
}
.section-title .line{
    width: 700px;
    height: 4px;
    border: 10px;
    background: #ffffff;
    margin: auto;
}
.services{
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
    flex-wrap: wrap;
}
.service{
    width: 350px;
}
.service img{
    max-width: 100%;
    border-radius: 5px;
    transition: transform 0.3s ease;
}
.service p{
    font-size: 25px;
    font-family: "Itim", sans-serif;
    text-align: left;
    color: #efefef;
}
.service h3{
    font-size: 30px;
    font-family: "Itim", sans-serif;
    text-align: left;
    color: #efefef;
}
.service img:hover{
    transform: scale(1.05);
}
#testimonial{
    background: rgb(0, 0, 0);
}
#testimonial .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 6000px;
    gap: 30px;
    padding: 50px 16px;
    color: #ffffff;
}
#testimonial h1{
    font-size: 50px;
    font-family: "Itim", sans-serif;
    text-align: center;
}
#testimonial .profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#testimonial .profile p{
    font-size: 25px;
    font-family: "Itim", sans-serif;
    text-align: center;
}
#about-us .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
}
#about-us .container .about-content{
    max-width: 700px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: start;
    color: rgb(255, 255, 255);
}
#about-us .container .about-content h1{
    font-family: "Itim", sans-serif;
    font-size: 28px;
}
.about-image{
    max-width: 100%;
    border-radius: 20px;
    transition: transform 0.3s ease;
}
.about-image:hover{
    transform: scale(1.1);
}
#questions{
    min-height: 500px;
    background-image: url(https://i.pinimg.com/originals/87/b3/74/87b374a764bfa8f4ad403569455a9554.gif);
    background-position: bottom center;
    background-size: cover;

}
#questions .container{
    max-width: 500px;
    flex-direction: column;
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
    height: 500px;
    text-align: center;
}
#questions h1{
    font-size: 50px;
}




@media screen and (max-width:520px) {
    .menu-btn{
        display: block;
    }
    .nav-list{
        flex-direction: column;
        background: gray;
        position: absolute;
        top: 0;
        right: -900PX;
        width: 80%;
        height: 100vh;
        padding-top: 80px;
        transition: all 0.3s ease;

    }
    .nav-list.active{
        right: 0;

    }
    .nav-list li:not(:last-child){
        text-align: left;
        width: 100%;
        padding: 10px 30px;
        border-bottom: 1px solid white;
    }
    #about-us .container{
        flex-direction: column;
        gap: 30px;
    }
    footer .container{
        flex-direction: column;
        gap: 16px;

    }
}